* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
  font-family: lcd;
  src: url(../font/SUBWT___.ttf);
}

html {
    font-size: 62.5%;
}

body {

}

main {
    width: 30%;   

}

#keyBoard button {
    border: black solid 2px;
    padding: 5rem;
    display: inline-blockˀ;
    background-color: white;
    border-radius: 1rem;
    margin: 0.2rem;
    font-size: x-large;

}

#clear {
    width: 100%;

}

main input{
    width: 100%;
    font-size: 3.5rem;
    margin-bottom:10px;
    background-color: black;
    color: green;
    text-align: right;
    padding: 10px 4px 10px 4px;
    font-family: lcd;
    border: 1px solid yellow;
    border-radius:4px;
}

main section#keyBoard {
    /** Grid eller liknade */
}

@media (max-width: 767px) {
    body {

    }

    main {

    }

    main input{

    }
}

@media (max-width: 339px) {
    main {

    }

}
